<?xml version="1.0"?>
<config>
    <modules>
        <Clever_Adminhtml>
            <version>0.1.0</version>
        </Clever_Adminhtml>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <cms_page_edit>Clever_Adminhtml_Block_Cms_Page_Edit</cms_page_edit>
                    <cms_page_tree>Clever_Adminhtml_Block_Cms_Page_Tree</cms_page_tree>
                    <cms_page_widget_chooser>Clever_Adminhtml_Block_Cms_Page_Widget_Chooser</cms_page_widget_chooser>
                    <cms_page_permissions>Clever_Adminhtml_Block_Cms_Page_Permissions</cms_page_permissions>
                    <cms_page_permissions_tree>Clever_Adminhtml_Block_Cms_Page_Permissions_Tree</cms_page_permissions_tree>
                    <customer_group_switcher>Clever_Adminhtml_Block_Customer_Group_Switcher</customer_group_switcher>
                </rewrite>
            </adminhtml>
        </blocks>
        <events>
        	<adminhtml_cms_page_edit_tab_main_prepare_form>
        		<observers>
                    <clever_cms_page_prepare_form>
                        <type>singleton</type>
                        <class>Clever_Adminhtml_Model_Cms_Page_Observer</class>
                        <method>prepareForm</method>
                    </clever_cms_page_prepare_form>
        		</observers>
        	</adminhtml_cms_page_edit_tab_main_prepare_form>
        	<cms_page_prepare_save>
        		<observers>
                    <clever_cms_page_prepare_save>
                        <type>singleton</type>
                        <class>Clever_Adminhtml_Model_Cms_Page_Observer</class>
                        <method>prepareSave</method>
                    </clever_cms_page_prepare_save>
        		</observers>
        	</cms_page_prepare_save>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Clever_Adminhtml before="Mage_Adminhtml">Clever_Adminhtml</Clever_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
             <cms translate="title" module="cms">
                <title>CMS</title>
                <sort_order>70</sort_order>
                <children>
                    <page translate="title" module="reports">
                        <title>Pages</title>
                        <children>
                            <content translate="title" module="reports">
                                <title>Manage Content</title>
                                <action>adminhtml/cms_page</action>
                            </content>
                            <permissions translate="title" module="reports">
                                <title>Manage Permissions</title>
                                <action>adminhtml/cms_page_permissions</action>
                            </permissions>
                        </children>
                    </page>
                    <block translate="title" module="cms">
                        <title>Static Blocks</title>
                        <action>adminhtml/cms_block</action>
                        <sort_order>10</sort_order>
                    </block>
                </children>
             </cms>
        </menu>
    </adminhtml>
</config>