<?xml version="1.0"?>
<config>
    <modules>
        <Clever_Cms>
            <version>1.1.0</version>
        </Clever_Cms>
    </modules>
    <global>
        <resources>
            <clever_cms_setup>
                <setup>
                    <module>Clever_Cms</module>
                </setup>
            </clever_cms_setup>
        </resources>
        <models>
            <cms>
                <rewrite>
                    <page>Clever_Cms_Model_Page</page>
                    <page_permission>Clever_Cms_Model_Page_Permission</page_permission>
                </rewrite>
            </cms>
            <cms_mysql4>
                <rewrite>
                    <page>Clever_Cms_Model_Mysql4_Page</page>
                    <page_tree>Clever_Cms_Model_Mysql4_Page_Tree</page_tree>
                    <page_collection>Clever_Cms_Model_Mysql4_Page_Collection</page_collection>
                    <page_permission>Clever_Cms_Model_Mysql4_Page_Permission</page_permission>
                </rewrite>
                <entities>
                    <page_permission><table>cms_page_permission</table></page_permission>
                </entities>
            </cms_mysql4>
            <sitemap_mysql4>
                <rewrite>
                    <cms_page>Clever_Cms_Model_Mysql4_Sitemap_Cms_Page</cms_page>
                </rewrite>
            </sitemap_mysql4>
        </models>
        <blocks>
            <cms>
                <rewrite>
                    <page>Clever_Cms_Block_Page</page>
                </rewrite>
            </cms>
        </blocks>
        <helpers>
            <cms>
                <rewrite>
                    <page>Clever_Cms_Helper_Page</page>
                </rewrite>
            </cms>
        </helpers>
    </global>
    <frontend>
        <routers>
            <cms>
                <args>
                    <modules>
                        <Clever_Cms before="Mage_Cms">Clever_Cms</Clever_Cms>
                    </modules>
                </args>
            </cms>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Clever_Cms>
                    <files>
                        <default>Clever_Cms.csv</default>
                    </files>
                </Clever_Cms>
            </modules>
        </translate>
    </adminhtml>
</config>